.headerContainer {
  text-align: center;
  min-height: 100vh;
  display: table; 
  width:100%;
}

.headerContent {
  display: table-cell;
  vertical-align: middle;
}

.cloudImage {
  padding-top: 20px;
  width: 200px;
}

.wordList { 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

.word {
  padding: 4px;
}

.wordLink {
  cursor: pointer;
  border-radius: 30%;
}

.cloudyHighlight {
  background-color: yellow;
}