.headerContainer {
  text-align: center;
  min-height: 100vh;
  display: table; 
  width:100%;
}

.headerContent {
  display: table-cell;
  vertical-align: middle;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
 }
 
.cloudImage {
  padding-top: 20px;
  width: 200px;
}

#cloudyStatsContainer {
  text-align: center;
}

#cloudyStatsList {
  height: 200px;
  overflow-y: scroll;
  list-style: none;
}

#cloudyWordList { 
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin: auto;
}

.cloudyWord {
  padding: 4px;
  animation-name: fade;
  animation-duration: 5s;
}

.cloudyWordLink {
  cursor: pointer;
  border-radius: 30%;
}

.cloudyHighlight0 {
  background-color: yellow;
}
.cloudyHighlight1 {
  background-color: cornsilk;
}
.cloudyHighlight2 {
  background-color: aquamarine;
}
.cloudyHighlight3 {
  background-color: lightseagreen;
}
.cloudyHighlight4 {
  background-color: lightsalmon;
}
.cloudyHighlight5 {
  background-color: lightgreen;
}
.cloudyHighlight6 {
  background-color: lightcyan;
}
.cloudyHighlight7 {
  background-color: lightskyblue;
}
.cloudyHighlight8 {
  background-color: lightgrey;
}
.cloudyHighlight9 {
  background-color: lightpink;
}

.defaultText {
  color: black;
}

#cloudyContainer {
  text-align: center;
  /* border-style: solid;
  border-width: 2px;
  border-color: black; */
}

#cloudTitle {
  text-align: center;
}
